<nav class="navbar navbar-expand-lg navbar-light" style="background-color:white;">
  <a class="navbar-brand" href="#">
  <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" width="40" height="40" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="margin-left: 25%;">
      <a class="nav-item nav-link " href="/twitter/stwitter"><i class="fas fa-home fa-lg"></i> Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link disabled" disabled><i class="fas fa-bolt fa-lg"></i> Moments</a>
      <a class="nav-item nav-link disabled" disabled><i class="fas fa-bell fa-lg"></i> Notifications</a>
      <a class="nav-item nav-link disabled" disabled><i class="fas fa-envelope fa-lg"></i> Messages</a>
    </div>
  </div>
</nav>
<div class="bio">
<img class="prof" src="https://rlv.zcache.com/sudan_national_world_flag_square_sticker-r4b85dd6310354e5aaac49098c9b94c68_v9wf3_8byvr_324.jpg" width="250px" height="250px;" style="border-radius:125px; border: 4px solid #fff; z-index: 1;"/>;
<h1 class="about">ABOUT US</h1>
<ul>
  <li>- presidential republic</li>
  <li>- Independence Day, 1 January (1956)</li>
  <li>- mixed legal system of Islamic law and English common law</li>
  <li>- Judicial, Legislative, and Executive Branches</li>
  <li>- CoS: President Umar Hassan Ahmad al-BASHIR</li>
  <li>#byeSouthSudan</li>
</ul>
</div>
<style>
  body {
    background-color: #f2f2f2;
  }
  .navbar {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .prof {
    position: relative;
    margin-left: -125px;
    left: 50%;
  }
  .about {
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lato';
    font-weight: 700;
  }
  ul {
    text-align: center;
    list-style: none;
  }
  </style>
